# Create heat maps

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Torbay,75,CA,2022-06-13 21:43:14,75,47.6666,-52.7314,55.27,6.91
1,1,Provideniya,100,RU,2022-06-13 21:43:14,75,64.3833,-173.3000,41.36,8.99
2,2,Mataura,97,NZ,2022-06-13 21:43:14,93,-46.1927,168.8643,43.48,13.80
3,3,Qaanaaq,36,GL,2022-06-13 21:43:15,73,77.4840,-69.3632,30.04,2.77
4,4,Iquique,18,CL,2022-06-13 21:43:15,80,-20.2208,-70.1431,60.84,6.55

In [8]:
city_data_df.dtypes

City_ID         int64
City           object
Cloudiness      int64
Country        object
Date           object
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

## Max temp heat map

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

## % Humidity heatmap

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## % Cloudiness heatmap

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Wind speed heatmap

In [23]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

## Get Vacation Criteria

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
7,7,Vaini,40,TO,2022-06-13 21:43:16,83,-21.2000,-175.2000,78.96,5.75
10,10,Samarai,78,PG,2022-06-13 21:43:18,74,-10.6167,150.6667,82.58,10.74
12,12,La Palma,75,US,2022-06-13 21:39:47,68,33.8464,-118.0467,85.50,10.36
16,16,Galesong,79,ID,2022-06-13 21:43:20,82,-5.3166,119.3661,75.22,7.61
19,19,Baculin,56,PH,2022-06-13 21:43:21,81,7.4525,126.5842,77.83,6.29
23,23,Kapaa,0,US,2022-06-13 21:43:22,74,22.0752,-159.3190,82.38,16.11
25,25,Meulaboh,93,ID,2022-06-13 21:43:23,89,4.1363,96.1285,75.70,4.36
30,30,Ewa Beach,40,US,2022-06-13 21:41:01,54,21.3156,-158.0072,84.15,19.57
31,31,Cayenne,75,GF,2022-06-13 21:43:25,1,4.9333,-52.3333,79.09,6.91
36,36,Denpasar,75,ID,2022-06-13 21:42:20,83,-8.6500,115.2167,82.06,10.36

In [26]:
preferred_cities_df.count()

City_ID       171
City          171
Cloudiness    171
Country       171
Date          171
Humidity      171
Lat           171
Lng           171
Max Temp      171
Wind Speed    171
dtype: int64

## Get travel destinations

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
7       Vaini      TO     78.96 -21.2000 -175.2000
10    Samarai      PG     82.58 -10.6167  150.6667
12   La Palma      US     85.50  33.8464 -118.0467
16   Galesong      ID     75.22  -5.3166  119.3661
19    Baculin      PH     77.83   7.4525  126.5842
23      Kapaa      US     82.38  22.0752 -159.3190
25   Meulaboh      ID     75.70   4.1363   96.1285
30  Ewa Beach      US     84.15  21.3156 -158.0072
31    Cayenne      GF     79.09   4.9333  -52.3333
36   Denpasar      ID     82.06  -8.6500  115.2167

## Retrieve hotels from a nearby search

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
10,Samarai,PG,82.58,-10.6167,150.6667,Nuli Sapi
12,La Palma,US,85.50,33.8464,-118.0467,La Quinta Inn & Suites by Wyndham Buena Park
16,Galesong,ID,75.22,-5.3166,119.3661,Sapriadi Appy
19,Baculin,PH,77.83,7.4525,126.5842,Baculin Cove Beach Resort

## Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
info_box_template = """"
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))