## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("/Users/priyankakalpattuvasudevan/Desktop/Analysis projects/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Georgetown,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang
1,1,Namatanai,PG,79.00,clear sky,-3.6667,152.4333,Seagulls Inn Namatani
2,3,Puerto Ayora,EC,76.96,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
3,4,Kapaa,US,84.18,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,5,San Cristobal,VE,77.18,overcast clouds,7.7669,-72.2250,Pirineos

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# Configure gmpas to use your Google API key
import gmaps
gmaps.configure(api_key=g_key)
!jupyter nbextension enable --py gmaps
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK

In [10]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
#max_temp = clean_hotel_df[["Max Temp"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

# 4b. Display the figure

Figure(layout=FigureLayout(height='420px'))

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Manhattan']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Manhattan']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Westport']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Windham']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Bethel']

In [28]:
# Set 'City' as index in the dataframe
vacation_df.set_index('City')

,City_ID,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City,,,,,,,
Georgetown,0,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang
Namatanai,1,PG,79.00,clear sky,-3.6667,152.4333,Seagulls Inn Namatani
Puerto Ayora,3,EC,76.96,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
Kapaa,4,US,84.18,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
San Cristobal,5,VE,77.18,overcast clouds,7.7669,-72.2250,Pirineos
...,...,...,...,...,...,...,...
Sabzevar,647,IR,83.48,few clouds,36.2126,57.6819,Ù¾Ø²Ø´Ú©Û ÙØ§ÙÙÙÛ Ø³Ø¨Ø²ÙØ§Ø±
Nisia Floresta,649,BR,80.98,clear sky,-6.0911,-35.2086,Rancho Crepusculo
Makakilo City,650,US,79.68,light rain,21.3469,-158.0858,Marriott's Ko Olina Beach Club
Dahanu,652,IN,83.08,broken clouds,19.9667,72.7333,Pearline Beach Villas
Shache,662,CN,78.71,broken clouds,38.4167,77.2406,Delong Hotel

In [60]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.       

# Find index of chosen cities
Manhattan_index = vacation_df[vacation_df['City'] == "Manhattan"].index.values
Westport_index = vacation_df[vacation_df['City'] == "Westport"].index.values
Windham_index = vacation_df[vacation_df['City'] == "Windham"].index.values
Bethel_index = vacation_df[vacation_df['City'] == "Bethel"].index.values

#Convert dataframe into array
vacation_df_numpy_array = vacation_df.to_numpy()
#print(vacation_df_numpy_array)


start = (vacation_df_numpy_array[Manhattan_index,5][0], vacation_df_numpy_array[Manhattan_index,6][0])
end = (vacation_df_numpy_array[Manhattan_index,5][0], vacation_df_numpy_array[Manhattan_index,6][0])
stop1 = (vacation_df_numpy_array[Westport_index,5][0], vacation_df_numpy_array[Westport_index,6][0])
stop2 = (vacation_df_numpy_array[Windham_index,5][0], vacation_df_numpy_array[Windham_index,6][0])
stop3 = (vacation_df_numpy_array[Bethel_index,5][0], vacation_df_numpy_array[Bethel_index,6][0])

In [70]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

fig = gmaps.figure()
routemap_driving = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(routemap)
fig

Figure(layout=FigureLayout(height='420px'))

In [71]:
fig = gmaps.figure()
routemap_driving = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='BICYCLING')
fig.add_layer(routemap)
fig

Figure(layout=FigureLayout(height='420px'))

In [72]:
fig = gmaps.figure()
routemap_driving = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='WALKING')
fig.add_layer(routemap)
fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
#pd.concat([s1, s2])
itinerary_df = pd.concat([vacation_df[vacation_df['City'] == "Manhattan"], vacation_df[vacation_df['City'] == "Westport"], vacation_df[vacation_df['City'] == "Windham"], vacation_df[vacation_df['City'] == "Bethel"]],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,261,Manhattan,US,86.79,clear sky,40.7834,-73.9662,The Mark Hotel
1,169,Westport,US,83.91,clear sky,41.1415,-73.3579,The Westport Inn
2,354,Windham,US,81.90,broken clouds,41.8334,-72.0001,Feather Hill Inn
3,36,Bethel,US,82.49,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury

In [81]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [80]:
# 11a. Add a marker layer for each city to the map.

# Configure gmpas to use your Google API key
import gmaps
gmaps.configure(api_key=g_key)
!jupyter nbextension enable --py gmaps
!jupyter nbextension enable --py widgetsnbextension

locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK

Figure(layout=FigureLayout(height='420px'))